<html lang="de">
<meta charset="utf-8">
<head>
<meta name="viewport" content="width=device-width, initial-scale=1">
<meta name="viewport"
	content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no">
<link rel="stylesheet"
	href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/css/bootstrap.min.css">
<link rel="stylesheet"
	href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/css/bootstrap-theme.min.css">
<link rel="stylesheet" href="css/style.css">
<script type="text/javascript" src="js/jquery-2.1.4.js"></script>
<script
	src="https://ajax.googleapis.com/ajax/libs/angularjs/1.4.2/angular.min.js"></script>
<script
	src="https://ajax.googleapis.com/ajax/libs/angularjs/1.4.2/angular-resource.js"></script>
<script
	src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/js/bootstrap.min.js"></script>
<script src="https://www.google.com/jsapi"></script>
<script type="text/javascript" src="js/Script.js"></script>
<script type="text/javascript" src="js/measureCtrl.js"></script>
<script src="http://code.highcharts.com/highcharts.js"></script>
<script src="http://code.highcharts.com/modules/exporting.js"></script>


<title>INR messen</title>
</head>
<body ng-app='coag'>
	<div class="container" ng-controller='measureCtrl'>
		<div class="row">
			<div class="col-xs-6 col-sm-4">
				<a class="btn btn-default" href="Eingabe.html" role="button">Eingaben
					ändern</a>
			</div>
			<div class="col-xs-6 col-sm-4">
				<h1>INR messen</h1>
			</div>
			<!-- Optional: clear the XS cols if their content doesn't match in height -->
			<div class="clearfix visible-xs-block"></div>
			<div class="col-xs-6 col-sm-4">
				<a class="btn btn-default" href="Medikamenten.html" role="button">Medikamente</a>
			</div>

		</div>
		<div class="abstand"></div>
		<div class="row">

			<div class="col-xs-2">
				<input type="number" ng-model='inr' class="form-control"
					placeholder="INR eingeben" id="eingebeninr" max="7" min="0.1">
			</div>
			<div class="col-xs-2">





				<input class="form-control" ng-model='inrDate' type="date">
			</div>
			<div class="col-xs-2">
				<button class="btn btn-default" type="button" ng-click='saveInr()'>Speichern</button>
			</div>





			<div class="col-xs-2">
				<button class="btn btn-default" type="button"
					ng-click='showLast = !showLast'>{{lastButn1}}</button>

				<p>
					INR ist: <span id="danger" ng-class="[inrOutcomeClass]">
						{{inrOutcome}}</span>
				</p>
			</div>
			<div class="col-xs-2">
				<p class="" ng-hide='showLast'>Ihre Letzte INR War:</p>
			</div>
			<div id="container"
				style="min-width: 310px; height: 400px; margin: 0 auto"></div>

		</div>


		<div class="abstand"></div>






		<h4>Nechste Spital</h4>



	</div>
	<p class="apl" id="mess">
		Wollen Sie ein App? <a href="#">IOS</a> | <a href="#">Android</a>
	</p>
	</div>
</body>
</html>