<div navi-bar></div>
<div class="container-fluid" id="indx">
	<div class="row">
		<div class="col-xs-2"></div>
		<div class="col-xs-10">
			<h1>User profile</h1>
			<p>Here you can change your user profile. You can change
				notifications time and format.</p>
		</div>
	</div>
	<div class="content">

		<div class="abstand"></div>
		<div class="row">
			<div class="col-xs-7 col-md-1">
				<select class="form-control" ng-model="UserCtrl.sex">
					<option value="true">Mr.</option>
					<option value="false">Mrs.</option>
				</select>
			</div>

			<div class="col-xs-12 col-md-3">
				<input type="text" class="form-control" ng-model="UserCtrl.surname"
					placeholder="Surname Required" required>
			</div>

			<div class="col-xs-12 col-md-3">
				<input type="text" class="form-control" ng-model="UserCtrl.name"
					placeholder="Name Required" required>

			</div>
		</div>
		<div class="abstand"></div>
		<div class="row">
			<div class="col-xs-12 col-md-2">
				<span><p>Please enter your Birthdate here:</p></span>
			</div>
			<div class="col-xs-12 col-md-2">
				<input type="date" class="form-control" ng-model="UserCtrl.bday"
					placeholder="Birthdate" required>
			</div>
		</div>
		<div class="abstand"></div>
		<div class="row">
			<div class="col-xs-12 col-md-3 ">
				<span><p>Bitte geben Sie Die Bereiche von INR die Sie
						für Norme halten:</p></span>
			</div>

			<div class="col-xs-4 col-md-2">
				<input class="form-control" type="number"
					ng-model="UserCtrl.norm.min" min="0" max="6">
			</div>
			<div class="col-xs-4 col-md-2">
				<input class="form-control" type="number"
					ng-model="UserCtrl.norm.max" min="0" max="6">

			</div>
		</div>

		<div class="abstand"></div>

		<div class="row">
			<div class="col-xs-12 col-md-3">
				<span><p>Wählen sie die Benachrichtigungsanzeige aus:</p></span>

			</div>
			<div class="col-xs-12 col-md-1">
				<select class="form-control" name="des" ng-model="notification.des"
					ng-dropdown required ng-change="ownname()">
					<option ng-option value="FuName">Full name</option>
					<option ng-option value="FiName">First name</option>
					<option ng-option value="OwnName">Own name:</option>
				</select>
			</div>

			<div ng-if="notification.des == 'OwnName'">
				<div class="col-xs-12 col-md-3">
					<input class="form-control" type="text" placeholder="Alternative"
						ng-model="ownName.own">
				</div>
			</div>
		</div>

		<div class="abstand"></div>



	</div>

</div>
