<nav class="main-menu">
	
 
    <ul>
            <li ui-sref="inr"><button type="button" class="btn btn-default" aria-label="Left Align"				>
				<span class="glyphicon glyphicon-tint" aria-hidden="true"> </span>
			</button></li>
             <li ui-sref="medicine"><button type="button" class="btn btn-default" aria-label="Left Align"				>
				<span class="glyphicon glyphicon-erase" aria-hidden="true"> </span>
			</button></li>
               <li ui-sref="user"><button type="button" class="btn btn-default" aria-label="Left Align"				>
				<span class="glyphicon glyphicon-user" aria-hidden="true"> </span>
			</button></li>
          </ul>

</nav>

<div class="container-fluid" id="indx">
	<div class="row">
		<div class="col-xs-2"></div>
		<div class="col-xs-10">
			<h1>User profile</h1>
			<p>Here you can change your user profile. You can change
				notifications time and format.</p>
		</div>
	</div>
	<div class="content">

		<div class="abstand"></div>
		<div class="row">
			<div class="col-xs-7 col-md-1">
				<select class="form-control" ng-model="UserCtrl.sex">
					<option value="true">Mr.</option>
					<option value="false">Mrs.</option>
				</select>
			</div>

			<div class="col-xs-12 col-md-3">
				<input type="text" class="form-control" ng-model="UserCtrl.surname"
					placeholder="Surname Required" required>
			</div>
            
			<div class="col-xs-12 col-md-3">
				<input type="text" class="form-control" ng-model="UserCtrl.name"
					placeholder="Name Required" required>
                
			</div>
		</div>
		<div class="abstand"></div>
		<div class="row">
            <div class="col-xs-12 col-md-12">
                <span id="helpBlock" class="help-block">Please enter your Birthdate here:</span></div>
			<div class="col-xs-12 col-md-2">
				<input type="date" class="form-control" ng-model="UserCtrl.bday"
					placeholder="Birthdate" required>
			</div>
            
			<div class="col-xs-2">
				<button type="submit" class="btn btn-default"
					ng-click="UserCtrl.regMe()">Save</button>

			</div>

		</div>



		<div class="abstand"></div>
		<div class="row">
			<div class="col-xs-12">
				<span id="helpBlock" class="help-block">Bitte geben Sie Die
					Bereiche von INR die Sie für Norme halten.</span>
			</div>
		</div>
		<div class="row">
			<div class="col-xs-4">
				<input class="form-control" type="number"
					ng-model="UserCtrl.norm.min" min="0" max="6">
			</div>
			<div class="col-xs-4">
				<input class="form-control" type="number"
					ng-model="UserCtrl.norm.max" min="0" max="6">

			</div>

			<button type="submit" class="btn btn-default"
				ng-click="UserCtrl.saveIt()">Save</button>
		</div>

		<div class="abstand"></div>

		<div class="row">
			<div class="col-sm-9">
				<span id="helpBlock" class="help-block">Wollen Sie die
					Benachrichtigung ihre Vor- oder Nachname Benutzen?</span>
				<div class="row">
					<div class="col-xs-3">
						<label class="radio-inline"> <input type="radio"
							name="inlineRadioOptions" id="inlineRadio1" value="1"
							ng-model="UserCtrl.msgGreeting"> Full name
						</label>
					</div>
					<div class="col-xs-4">
						<label class="radio-inline"> <input type="radio"
							name="inlineRadioOptions" id="inlineRadio1" value="2"
							ng-model="UserCtrl.msgGreeting"> Only first name
						</label>
					</div>
					<div class="col-xs-4">

						<label class="radio-inline"> <input type="radio"
							name="inlineRadioOptions" id="inlineRadio1" value="3"
							ng-model="UserCtrl.msgGreeting"> Own name:
						</label><input class="form-control"	ng-disabled="UserCtrl.checkNicknameInput()" type="text"
							ng-model="UserCtrl.nickname" placeholder="Alternative">

					</div>
				</div>
				<div class="row">
					<div class="col-xs-4">
						<button type="submit" id="disabledInput" class="btn btn-default">Save</button>
					</div>
				</div>
			</div>
		</div>

		<div class="abstand"></div>

		<div class="abstand"></div>

		<div class="row"></div>

	</div>

	</html>