<div navi-bar></div>
<div class="container-fluid" id="indx">

	<div class="row">
		<div class="col-xs-2"></div>
		<div class="col-xs-10">
			<h1>My Medicine</h1>
			<p>Here you can record all of yours medicaments, it'll be
				editable, so you can make changes every time.</p>
		</div>
	</div>
	<div class="content">
		<div class="abstand"></div>
		<div class="row">
			<div class="col-md-12">
				<p>Welche Dosierungen nehmen Sie zur Zeit?</p>
			</div>
		</div>

		<!-- entry -->
		<div class="row">
			<form name="formSave">
				<div class="col-xs-12 col-md-2">

					<input type="number" class="form-control" id="box" placeholder="Mg"
						ng-model="MedCtrl.mediMg" ng-required="true">
				</div>

				<div class="col-xs-12 col-md-3">
					<input type="text" class="form-control" id="box"
						placeholder="Medicine" ng-model="MedCtrl.mediName"
						ng-required="true">
				</div>
                
				<div class="col-xs-12 col-md-2">
					<div class="input-group">
						<select class="form-control" ng-model="MedCtrl.defaultOption"
							id="box" ng-options="c.value for c in MedCtrl.options"
							ng-required="true">

						</select> <span class="input-group-btn">
							<button class="btn btn-default" type="submit"
								ng-click="MedCtrl.addMedi()">
								<span class="glyphicon glyphicon-plus"></span>
							</button>
						</span>
					</div>
				</div>

				<div class="col-xs-12 col-md-1"
					ng-show="MedCtrl.defaultOption.name != 'non'">
					<input type="time" class="form-control" id="box"
						ng-model="MedCtrl.notificationTime" ng-required="true">
				</div>


			</form>
		</div>

		<div class="abstand"></div>
		<div class="abstand"></div>

		<div ng-repeat="medi in MedCtrl.allMedis">
			<form name="formSave">
				<div class="row">

					<div class="col-xs-12 col-md-2">
						<div class="input-group">
							<input type="number" class="form-control" id="box" placeholder=""
								ng-model="medi.medivalue"
								ng-disabled="!MedCtrl.isEditableMedi($index)" required>
							<div class="input-group-addon">Mg</div>
						</div>
					</div>
					<div class="col-xs-12 col-md-3">
						<input type="text" class="form-control" id="box"
							ng-model="medi.mediname"
							ng-disabled="!MedCtrl.isEditableMedi($index)" required>
					</div>
					<div class="col-xs-12 col-md-2"
						ng-show="!MedCtrl.isEditableMedi($index)">
						<input class="form-control" id="box" ng-disabled="true"
							placeholder="{{MedCtrl.resolveNotification(medi.notificationtype)}}"
							required>

					</div>

					<div class="col-xs-7 col-md-2"
						ng-show="MedCtrl.isEditableMedi($index)">
						<select class="form-control" id="box"
							ng-model="MedCtrl.editOption"
							ng-options="c.value for c in MedCtrl.options" ng-required="true">
						</select>
					</div>

					<div class="col-xs-5 col-md-1"
						ng-show="MedCtrl.isEditableMedi($index)">
						<input type="time" class="form-control" id="box"
							ng-model="medi.notificationtime"
							ng-disabled="!MedCtrl.isEditableMedi($index)" required>
					</div>

					<div class="col-xs-6 col-md-2">
						<div class="btn-group" role="group">
							<button class="btn btn-default"
								ng-click='MedCtrl.medDelete(medi.unid, $index)'>
								<span class="glyphicon glyphicon-remove"> </span>
							</button>
							<button class="btn btn-default"
								ng-click="MedCtrl.editMedi(medi, $index)"
								ng-hide="MedCtrl.isEditableMedi($index)" type>
								<span class="glyphicon glyphicon-pencil"></span>
							</button>

							<button class="btn btn-default" type="submit"
								ng-click='MedCtrl.updateMedicine(medi, $index)'
								ng-hide="!MedCtrl.isEditableMedi($index)">
								<span class="glyphicon glyphicon-ok"></span>
							</button>
						</div>
					</div>

				</div>
				<div class="abstand"></div>
			</form>
		</div>
	</div>
</div>

