<div navi-bar></div>
<div class="container-fluid" id="indx">
	<div class="row">
		<div class="col-xs-2"></div>
		<div class="col-xs-10">
			<h1>My Medicine</h1>
			<p>Here you can record all of yours medicaments, it'll be
				editable, so you can make changes every time.</p>
		</div>
	</div>
	<div class="content">
		<div class="abstand"></div>
		<div class="row">
			<div class="col-md-12">
				<span><p>Welche Dosierungen nehmen Sie zur Zeit?</p></span>
			</div>
		</div>



		<!-- entry -->
		<div class="row">
			<div class="col-xs-12 col-md-5">
				<input type="text" id="disabledTextInput" class="form-control"
					placeholder="Medicine" ng-model="MedCtrl.mediName">
			</div>
			<div class="col-xs-12 col-md-5">
				<div class="input-group">
					<input type="number" class="form-control" id="exampleInputAmount"
						placeholder="Mg" ng-model="MedCtrl.mediMg"><span
						class="input-group-btn">
						<button class="btn btn-default" type="button"
							ng-click="MedCtrl.addMedi()">
							<span class="glyphicon glyphicon-plus"></span>
					</span>
					</button>
					</span>
				</div>
			</div>
		</div>
		<div class="abstand"></div>

		<div class="row">
			<div class="col-xs-12">
				<span><p>Do you want to get Notifications?</p></span>
			</div>
		</div>


		<div class="row">
			<div class="col-xs-12 col-md-5">
				<select class="form-control" name="type"
					ng-model="notification.type" ng-dropdown required
					ng-change="function(){}">
					<option ng-option value="none">No notifications</option>
					<option ng-option value="time">Every day at</option>
					<option ng-option value="date">Only on</option>
                    <option ng-option value="week">Weekly</option>
				</select>
			</div>

			<div id="time" ng-if="notification.type == 'time'">
				<div class="col-xs-12 col-md-5">
					<input type="time" class="form-control"
						ng-model="notification.time" />
				</div>
			</div>
			<div id="date" ng-if="notification.type == 'date'">
				<div class="col-xs-12 col-md-5">
					<input type="date" class="form-control"
						ng-model="notification.date" />
				</div>
			</div>
            <div id="week" ng-if="notification.type == 'week'">
				<div class="col-xs-12 col-md-5">
					<select class="form-control" name="weekcheck">
                    <option ng-option value="Monday">Monday</option>
					<option ng-option value="Tuesday">Tuesday</option>
					<option ng-option value="Wednesday">Wednesday</option>
                    <option ng-option value="Thursday">Thursday</option>
                       <option ng-option value="Friday">Friday</option>
                        <option ng-option value="Saturday">Saturday</option>
                        <option ng-option value="Sunday">Sunday</option>
                    </select>
				</div>
			</div>
		</div>
		<div class="abstand"></div>


		<div ng-repeat="medi in MedCtrl.allMedis.slice(0, 6)">
			<div class="row" ng-hide="notdeleted">
				<div class="col-xs-12 col-md-5">
					<input type="text" id="disabledTextInput" class="form-control"
						ng-model="medi.mediname">
				</div>
				<div class="col-xs-5 col-md-2">
					<div class="input-group">
						<input type="number" class="form-control" id="exampleInputAmount"
							placeholder="" ng-model="medi.medivalue">
						<div class="input-group-addon">Mg</div>
					</div>
				</div>
				<div class="col-xs-6 col-md-3">
					<div class="btn-group" role="group" aria-label="...">
						<button ng-click="deleteSure = ! deleteSure">
							<span class="glyphicon glyphicon-remove-circle"> </span>
						</button>
						<button ng-click='MedCtrl.updateMedicine(medi, $index)'>
							<span class="glyphicon glyphicon-ok-circle"></span>
						</button>
					</div>
				</div>
			</div>
			
            <div class="row"  ng-show="deleteSure">
                <div class="col-xs-6 col-md-3">
                <p>Are you sure?</p>
                  <button class="btn btn-default" ng-click='MedCtrl.medDelete(medi.unid, $index)'>Delete</button> 
                <button class="btn btn-default" ng-click="deleteSure = ! deleteSure">Cancel</button>
        
            </div>
		</div>
            <div class="abstand"></div>
		</div>
		
		</div>


</div>