
<html lang="de" ng-app='coag'>
<meta charset="utf-8">
<head>
<meta name="viewport" content="width=device-width, initial-scale=1">
<meta name="viewport"
	content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no">
<link rel="stylesheet"
	href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/css/bootstrap.min.css">
<link rel="stylesheet"
	href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/css/bootstrap-theme.min.css">
<link rel="stylesheet" href="css/style.css">
<script type="text/javascript" src="js/jquery-2.1.4.js"></script>
<script type="text/javascript" src="js/jquery-2.1.4.js"></script>
<script
	src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/js/bootstrap.min.js"></script>
<script
	src="https://ajax.googleapis.com/ajax/libs/angularjs/1.4.2/angular.min.js"></script>
<script type="text/javascript" src="js/Medi.js"></script>


<title>Medicine</title>
</head>
<body>

	<div class="container" ng-controller='mediCtrl'>
		<div class="row">
			<div class="col-xs-6 col-sm-4">


				<a class="btn btn-default" href="Messung.html" role="button">INR
					Control</a>
			</div>
			<div class="col-xs-6 col-sm-4">
				<h1>Medicine </h1>
			</div>

			<div class="clearfix visible-xs-block"></div>
			<div class="col-xs-6 col-sm-4">
				<a class="btn btn-default" href="Eingabe.html" role="button">Edit profile</a>
			</div>
		</div>
		<div class="abstand"></div>
		<div class="row">
			<div class="col-md-12">
				<span id="helpBlock" class="help-block">Welche Dosierungen
					nehmen Sie zur Zeit?</span>
			</div>
		</div>
		<div class="row">
			<div class="col-xs-8">

				<div ng-repeat="medi in allMedis" class="row">

					<div class="col-xs-9">
						<input type="text" id="disabledTextInput" class="form-control"
							placeholder="{{'Medikament ' + ( $index+1)}}"
							ng-model="medi.name">

						<div class="abstand"></div>

					</div>
					<div class="col-xs-3">
						<div class="input-group">
							<input type="number" class="form-control" id="exampleInputAmount"
								placeholder="" ng-model="medi.mg">
							<div class="input-group-addon">Mg</div>
						</div>
					</div>

				</div>


				<!-- entry -->
				<div class="row">
					<div class="col-xs-6">
						<input type="text" id="disabledTextInput" class="form-control"
							placeholder="Medicine" ng-model="mediName">
					</div>
					
                             
                    <div class="col-xs-4">

						<div class="input-group">
							<input type="number" class="form-control" id="exampleInputAmount"
								placeholder="Mg" ng-model="mediMg"><span
								class="input-group-btn">
								<button class="btn btn-default" type="button"
									ng-click="addMedi()">ADD</button>
                            
							</span>

						</div>

					</div>
                    <div class="col-xs-2">
                        <button class="btn btn-default" type="button"
									ng-click="removeMedi()">DELETE</button>
                    </div>
                   
				</div>


			</div>



		</div>
		<div class="abstand"></div>



		<button class="btn btn-default" type="button"
			ng-click='needHelp = !needHelp'>{{helpBtn}}</button>
		<p class="" ng-hide='needHelp'>
			Sie könen ein neus Medikament nur dann einfügen, wenn beide Felder
			die Werte haben.</br> Das Sie nicht vergessen ihres Medikament zu nehmen -
			kommt eine benachrichtigung. wählen Sie wenn es am besten passen
			würde

		</p>



		<div class="row">
			<div class="col-sm-12">
				<span id="helpBlock" class="help-block">Notifications</span>
				<div class="row">
					<div class="col-md-2">
						<label class="radio-inline"> <input type="radio"
							name="inlineRadioOptions" id="inlineRadio1" value="option3"
							ng-model="msgLocked"> No thanks
						</label>
					</div>
					<div class="col-md-2">
						<label class="radio-inline"> <input type="radio"
							name="inlineRadioOptions" id="inlineRadio1" value="mediTime"
							ng-model="msgLocked"> Every day at
						</label> <input type="time" class="form-control"
							ng-disabled="checkTimeInput()" ng-model="msgLocked">

					</div>
					<div class="col-md-2">




						<label class="radio-inline"> <input type="radio"
							name="inlineRadioOptions" id="inlineRadio1" value="mediDate"
							ng-model="msgLocked"> Only at
						</label><input type="date" class="form-control"
							ng-disabled="checkDateInput()" ng-model="msgLockedDate">







					</div>

				</div>
			</div>
		</div>

		<div class="abstand"></div>


		<div class="row">
			<div class="col-xs-6 col-sm-6">
				<button type="reset" class="btn btn-default">Save</button>
			</div>


			<div class="clearfix visible-xs-block"></div>
			<div class="col-xs-6 col-sm-6">
				<button type="reset" class="btn btn-default">Reset</button>
			</div>
		</div>
		
	</div>
	<p class="apl">
			Do you need an App? <a href="#">IOS</a> | <a href="#">Android</a>
		</p>
         <p class="feedback">
		Let all see your <a href="#">Feedback<a>
	</p>

</body>
</html>