<nav class="main-menu">
	<ul>
		<li>
			<button type="button" class="btn btn-default" aria-label="Left Align" ui-sref="inr">
				<span class="glyphicon glyphicon-tint"></span>
			</button>
		</li>
		<li>
			<button type="button" class="btn btn-default" aria-label="Left Align" ui-sref="medicine">
						<span class="glyphicon glyphicon-erase"></span>
				</span>
			</button>
		</li>
		<li>
			<button type="button" class="btn btn-default" aria-label="Left Align" ui-sref="user">
				<span class="glyphicon glyphicon-user"></span>

			</button>
		</li>
	</ul>
</nav>
