body
{
  margin:0px;
  padding:0px;
	font-family: "Open Sans", arial;
    

	}

.menuheader{
  display:inline-block;
}


.main-menu {
    position:absolute;
    width:50%;
 z-index: 1;
 }


nav ul,nav li {
padding:1%;
margin:0%;
}

.information{
margin: 3% 20%;
width: 100%;
width: 100%;
    text-align: center;

}

.content{
width: auto;
    margin-left: 3%;
margin-right: 3%;

}


.apl {
	position: absolute;
	left: 45%;
	top: 1%;
}

.apl #mess {
	bottom: 1%;
	left: 40%;
}

.feedback{
bottom: 1%;
right: 1%;
}
.danger {
	color: #FF0000;
}

.nodanger {
	color: #00FF00;
}

#eingebeninr {
	
}

.lastinr {
	
}

#mednr {
	
}

.noright {
	color: darkorange;
}

.helpme {
	
}
.abstand{
    margin-top: 5%;
}
#indx{
z-index: 100;
}

