
.test {
	height : 100px;
	width : 100px;
	background-color: red;

}




body {
	margin-top: 5%;
    margin-bottom: 5%;
	text-align: center;
	font-size: 120%;
}

h1 {
	font-size: 320%;
}

.abstand {
	margin-top: 2%;
}

.container {
	border-style: solid;
	border-radius: 140px;
	padding: 5%;
}

.apl {
	position: absolute;
	left: 45%;
	top: 1%;
}

.apl #mess {
	bottom: 1%;
	left: 40%;
}

.feedback{
bottom: 1%;
right: 1%;
}
.danger {
	color: #FF0000;
}

.nodanger {
	color: #00FF00;
}

#eingebeninr {
	
}

.lastinr {
	
}

#mednr {
	
}

.noright {
	color: darkorange;
}

.helpme {
	
}